{% extends 'bookshop/base.html' %}
<title>{% block title %} Contact us | Bookshop {% endblock %}</title>
{% block content %}

<div class="ps-hero" style="background-color: rgb(187, 130, 187);">
    <div class="container" >
        <h3>ABOUT US</h3>
    </div>
</div>

    <!-- <div id="contact-map" data-address="New York, NY" data-title="BAKERY LOCATION!" data-zoom="17"></div> -->
    <main class="ps-main">
        <div class="ps-container">
            <div class="ps-contact">
                <div class="row">
                    
                    <div style="text-align: justify">
                                        
                     <p>Welcome to our sunshine Library! We are dedicated to providing an exceptional online resource 
                      for knowledge-seekers, book enthusiasts, and learners of all ages. Our mission is to create a virtual space 
                      where individuals can access a vast collection of digital books, academic papers, research materials, and educational resources from various disciplines.
                     At our Digital Library, we believe in the transformative power of information and the potential it holds to shape minds and empower individuals. We strive to bridge the gap between readers and the vast world of literature, making knowledge accessible to anyone with an internet connection. Whether you're a student, a professional, or an avid reader, our digital platform is designed to enrich your intellectual journey.</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}